#root {
  width: 100%;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  box-sizing: border-box;
}

input {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid #333;
  border-radius: 0.5rem;
  background-color: #16161a;
  color: #ffffff;
}

input:focus {
  border-color: #7f5af0;
  outline: none;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 1.5rem;
    max-width: 90%; /* Adjust width for tablets */
  }

  h1 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 480px) {
  .container {
    max-width: 95%; /* Adjust width for phones */
  }
}